ol,
ul,
dl {
	margin: 0 0 1em;
}

li {
	margin: 0 0 0.25em;
}

.list-unstyled {
	@include list-unstyled();
}

.list-inline {
	@include list-unstyled();

	li {
		display: inline-block;
		margin: 0 10px 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	&.piped li {
		margin-right: 0;

		&:not(:last-child):after {
			content: '\007c';
			margin: 0 7px 0 10px;
		}
	}
}