*,
:before,
:after {
	box-sizing: border-box;
}

.group,
.row {

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.row {
	position: relative;
	max-width: $grid-max-width;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;

	.row {
		max-width: none;
		margin-right: -$gutter-width / 2;
		margin-left: -$gutter-width / 2;
		padding-left: 0;
		padding-right: 0;
	}
}

.col {
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-right: $gutter-width / 2;
	padding-left: $gutter-width / 2;

	&.last {
		float: right;
	}
}

@media only screen {

	.xs-12 {
		width: 100%;
	}

	.xs-11 {
		width: 91.666667%;
	}

	.xs-10 {
		width: 83.333333%;
	}

	.xs-9 {
		width: 75%;
	}

	.xs-8 {
		width: 66.666667%;
	}

	.xs-7 {
		width: 58.333333%;
	}

	.xs-6 {
		width: 50%;
	}

	.xs-5 {
		width: 41.666667%;
	}

	.xs-4 {
		width: 33.333333%;
	}

	.xs-3 {
		width: 25%;
	}

	.xs-2 {
		width: 16.666667%;
	}

	.xs-1 {
		width: 8.333333%;
	}

}
 
@media #{$query-sm} {

	.sm-12 {
		width: 100%;
	}

	.sm-11 {
		width: 91.666667%;
	}

	.sm-10 {
		width: 83.333333%;
	}

	.sm-9 {
		width: 75%;
	}

	.sm-8 {
		width: 66.666667%;
	}

	.sm-7 {
		width: 58.333333%;
	}

	.sm-6 {
		width: 50%;
	}

	.sm-5 {
		width: 41.666667%;
	}

	.sm-4 {
		width: 33.333333%;
	}

	.sm-3 {
		width: 25%;
	}

	.sm-2 {
		width: 16.666667%;
	}

	.sm-1 {
		width: 8.333333%;
	}

	.sm-0 {
		display: none !important;
	}

}

@media #{$query-md} {

	.md-12 {
		width: 100%;
	}

	.md-11 {
		width: 91.666667%;
	}

	.md-10 {
		width: 83.333333%;
	}

	.md-9 {
		width: 75%;
	}

	.md-8 {
		width: 66.666667%;
	}	

	.md-7 {
		width: 58.333333%;
	}

	.md-6 {
		width: 50%;
	}

	.md-5 {
		width: 41.666667%;
	}

	.md-4 {
		width: 33.333333%;
	}

	.md-3 {
		width: 25%;
	}

	.md-2 {
		width: 16.666667%;
	}

	.md-1 {
		width: 8.333333%;
	}

}

@media #{$query-lg} {

	.lg-12 {
		width: 100%;
	}

	.lg-11 {
		width: 91.666667%;
	}

	.lg-10 {
		width: 83.333333%;
	}

	.lg-9 {
		width: 75%;
	}

	.lg-8 {
		width: 66.666667%;
	}

	.lg-7 {
		width: 58.333333%;
	}

	.lg-6 {
		width: 50%;
	}

	.lg-5 {
		width: 41.666667%;
	}

	.lg-4 {
		width: 33.333333%;
	}

	.lg-3 {
		width: 25%;
	}

	.lg-2 {
		width: 16.666667%;
	}

	.lg-1 {
		width: 8.333333%;
	}

}

@media #{$query-xl} {

	.xl-12 {
		width: 100%;
	}

	.xl-11 {
		width: 91.666667%;
	}

	.xl-10 {
		width: 83.333333%;
	}

	.xl-9 {
		width: 75%;
	}

	.xl-8 {
		width: 66.666667%;
	}

	.xl-7 {
		width: 58.333333%;
	}

	.xl-6 {
		width: 50%;
	}

	.xl-5 {
		width: 41.666667%;
	}

	.xl-4 {
		width: 33.333333%;
	}

	.xl-3 {
		width: 25%;
	}

	.xl-2 {
		width: 16.666667%;
	}

	.xl-1 {
		width: 8.333333%;
	}

}

@media #{$query-xs-max} {

	.xs-hide {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {

	.sm-hide {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-md) and (max-width: $screen-md-max) {

	.md-hide {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-lg) and (max-width: $screen-lg-max) {

	.lg-hide {
		display: none !important;
	}
}

@media only screen and (min-width: $screen-xl) {

	.xl-hide {
		display: none !important;
	}
}

@media print {

	.xs-12 {
		width: 100%;
	}

	.xs-11 {
		width: 91.666667%;
	}

	.xs-10 {
		width: 83.333333%;
	}

	.xs-9 {
		width: 75%;
	}

	.xs-8 {
		width: 66.666667%;
	}

	.xs-7 {
		width: 58.333333%;
	}

	.xs-6 {
		width: 50%;
	}

	.xs-5 {
		width: 41.666667%;
	}

	.xs-4 {
		width: 33.333333%;
	}

	.xs-3 {
		width: 25%;
	}

	.xs-2 {
		width: 16.666667%;
	}

	.xs-1 {
		width: 8.333333%;
	}

	.sm-12 {
		width: 100%;
	}

	.sm-11 {
		width: 91.666667%;
	}

	.sm-10 {
		width: 83.333333%;
	}

	.sm-9 {
		width: 75%;
	}

	.sm-8 {
		width: 66.666667%;
	}

	.sm-7 {
		width: 58.333333%;
	}

	.sm-6 {
		width: 50%;
	}

	.sm-5 {
		width: 41.666667%;
	}

	.sm-4 {
		width: 33.333333%;
	}

	.sm-3 {
		width: 25%;
	}

	.sm-2 {
		width: 16.666667%;
	}

	.sm-1 {
		width: 8.333333%;
	}

	.md-12 {
		width: 100%;
	}

	.md-11 {
		width: 91.666667%;
	}

	.md-10 {
		width: 83.333333%;
	}

	.md-9 {
		width: 75%;
	}

	.md-8 {
		width: 66.666667%;
	}	

	.md-7 {
		width: 58.333333%;
	}

	.md-6 {
		width: 50%;
	}

	.md-5 {
		width: 41.666667%;
	}

	.md-4 {
		width: 33.333333%;
	}

	.md-3 {
		width: 25%;
	}

	.md-2 {
		width: 16.666667%;
	}

	.md-1 {
		width: 8.333333%;
	}

	.lg-12 {
		width: 100%;
	}

	.lg-11 {
		width: 91.666667%;
	}

	.lg-10 {
		width: 83.333333%;
	}

	.lg-9 {
		width: 75%;
	}

	.lg-8 {
		width: 66.666667%;
	}

	.lg-7 {
		width: 58.333333%;
	}

	.lg-6 {
		width: 50%;
	}

	.lg-5 {
		width: 41.666667%;
	}

	.lg-4 {
		width: 33.333333%;
	}

	.lg-3 {
		width: 25%;
	}

	.lg-2 {
		width: 16.666667%;
	}

	.lg-1 {
		width: 8.333333%;
	}

	.xl-12 {
		width: 100%;
	}

	.xl-11 {
		width: 91.666667%;
	}

	.xl-10 {
		width: 83.333333%;
	}

	.xl-9 {
		width: 75%;
	}

	.xl-8 {
		width: 66.666667%;
	}

	.xl-7 {
		width: 58.333333%;
	}

	.xl-6 {
		width: 50%;
	}

	.xl-5 {
		width: 41.666667%;
	}

	.xl-4 {
		width: 33.333333%;
	}

	.xl-3 {
		width: 25%;
	}

	.xl-2 {
		width: 16.666667%;
	}

	.xl-1 {
		width: 8.333333%;
	}

	.md-hide,
	.sm-hide,
	.xs-hide {
		display: none !important;
	}

}