html {
	cursor: default;

	&.nav-visible {

		@media only screen and (max-width: 767px) {
			overflow: hidden;
		}
	}
}

body {
	font-size: $font-size-base;
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	color: $color-base;
	background: $body-bg;

	.nav-visible & {

		@media only screen and (max-width: 767px) {
			overflow: hidden;
		}
	}
}

a {
	color: $link-color;

	&:hover {
		color: $link-hover-color;
	}
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

embed,
object {
	max-width: 100%;
}

video {
	max-width: 100%;
	height: auto;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clearfix {

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.reduced {
	margin-bottom: 0;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}